.bodyHolder{
    min-width: 100%;
}

/* HEADER */
.headerContainer{
    background-color: #000033;
    border-radius: 40px;
    padding: 10px 25px 20px;
    margin: 20px 25px 40px;
}

.headerContainer h1{
    font-family: "Fjalla One";
    text-align: center;
    color: #ececec;
    font-size: 70px;
}

.headerContainer h2{
    font-family: "Arial";
    text-align: center;
    color: #ececec;
    font-size: 30px;
}

.line1, .line2, .line3, .line4{
    height: 100px;
    position: absolute;
    top: 150px;
    z-index: -1;
}

.line1{
    left: 20%;
    border-left: 30px solid #3f3013;
}

.line2 {
    left: 80%;
    border-left: 30px solid #3f3013;
}

.line3{
    border-left: 40px solid 191307;
    left: 19.74%;
}

.line4{
    border-left: 40px solid 191307;
    left: 79.74%;
}
/* HEADER END */

/* Side Navigation Bar */
.container-box {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
  
.container-box a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
}

.container-box a:hover {
    color: #f1f1f1;
}
  

.container-box .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.holder{
    position: fixed;
    left: -300px;
    transition: 0.5s;
    font-family: "Quicksand";
    text-align: center;
}

.openbtn, .backbtn{
    font-size: 50px;
    background-color: #996b0a;
    position: fixed;
    padding: 15px;
    left: -50px;
    transition: 0.4s;
    width: 100px;
    font-size: 25px;
    color: white;
    border-radius: 5px;
    z-index: 2;
}

.backbtn{
    top: 40px;
}

.openbtn{
    top: 120px;
}

.openbtn:hover, .backbtn:hover{
    left: 0;
    text-align: right;
    background-color: darkgoldenrod;
}

#sideNavTitle{
    text-align: center;
    font-size: 50px;
    color: white;
    padding-bottom: 40px;
}

.tooltip{
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: -5%;
    left: 115%;
    opacity: 0;
    transition: opacity 1s;
}

.ttText{
    text-align: center;
    width: 150px;
    font-family: "Quicksand";
    font-size: 25px;
}
  
.tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.openbtn:hover .tooltip, .backbtn:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Side Navigation Bar End */

/* BODY CONTENT */
.bodyContent{
    padding: 30px 0px;
    margin-bottom: 20px;
    margin-top: -20px;
}

.games-list{
    background-color: #000033;
    margin: 60px 40px;
    padding: 25px;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
}

/* About Us */
.aboutContainer{
    background-color: #000033;
    height: auto;
    color: white;
    margin: 0px 25px;
    border-radius: 40px;
    padding: 10px 25px 20px;
}

#logo{
    width: 500px;
    height: auto;
    position: absolute;
    margin: -30px 5px 0px;
}

.aboutText1, .aboutText2{
    font-size: 35px;
    text-indent: 2ch;
    text-align: justify;
}

.aboutText1{
    margin-left: 500px;
    padding: 60px 40px 25px;
}

.aboutText2{
    padding: 30px 80px 10px;
}


/* About Us End */

/* Games List Page */
.gamesContainer{
    width: 1450px;
    height: 850px;
    background-color: 000033;
    border-radius: 50px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.descG1, .descG2{
    position: absolute;
    font-size: 80px;
    font-family: "Fjalla One";
    z-index: 2;
    opacity: 0;
    transition: 1s;
    pointer-events:none;
}

.descG1{
    top: 30px;
    right: 150px;
    color: White;
}

.descG2{
    top: 30px;
    left: 150px;
    color: black;
}

.imgContainer img{
    width: 1400px;
    height: 800px;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    transition: 0.5s;
    border-radius: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#game1{
    clip:rect(0px,685px,800px,0px);
}

#game2{
    clip:rect(0px,1400px,800px,715px);
}

#game1:hover, .descG1:hover{
    clip:rect(0px,1300px,800px,0px);
    z-index: 1;
}

#game2:hover{
    clip:rect(0px,1400px,800px,100px);
    z-index: 1;
}

#game1:hover ~ .descG1, #game2:hover ~ .descG2{
    opacity: 1;
    z-index: 2;
}

/* Games List Page End*/

/* Games Review Page */
.reviewContainer{
    box-sizing: border-box;
    height: 600px;
    background-color: #000033;
    border-radius: 50px;
    margin: 0px 25px;
}

.tab {
  float: left;
  border: 5px solid black;
  background-color: #f1f1f1;
  width: 25%;
  height: auto;
  margin: 20px 0px 20px 50px;
}

.tab button {
  display: block;
  background-color: lightblue;
  color: black;
  font-size: 30px;
  padding: 10px 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.tab button:hover {
  background-color: white;
}

.tab button.active {
  background-color: white;
}

#SlimeRancher{
    background-image: url("../img/bg/1.jpg");
    background-size: cover;
    color: lightblue;
}

#Bioshock1{
    background-image: url("../img/bg/2.jpg");
    background-size: cover;
    color: white;
}

#Bioshock2{
    background-image: url("../img/bg/3.jpg");
    background-size: cover;
    color: white;
}

#BioshockInfinite{
    background-image: url("../img/bg/4.jpg");
    background-size: cover;
    color: darkmagenta;
}

#LoL{
    background-image: url("../img/bg/5.jpg");
    background-size: cover;
    color: white;
}

#Starcraft2{
    background-image: url("../img/bg/6.jpg");
    background-size: cover;
    color: white;
}

#Fallout4{
    background-image: url("../img/bg/7.jpg");
    background-size: cover;
    color: black;
}

#EBF4{
    background-image: url("../img/bg/8.jpg");
    background-size: cover;
    color: darkblue;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 5px solid black;
  width: 70%;
  border-left: none;
  height: 538px;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin: 20px 0px;
  background-color: lightblue;
  text-align: justify;
}

.tabcontent h3{
    font-size: 40px;
}

.checked {
    color: orange;
}
/* Games Review Page End */

/* Of Lurkers and Curses Page */
.game1Container {
    background-image: url("../img/Teaser.png");
    background-size: cover;
    height: 1000px;
    margin-top: -20px;
}
  
.timerContainer{
    padding: 325px 600px 0px;
}

.timerContainer h1{
    text-align: center;
    font-size: 60px;
    font-family: "Quicksand";
    border-radius: 50px;
    color: white;
}
/* Of Lurkers and Curses Page END */

/* Collaborators Page */
.sideL{
    background-color: #000033;
    height: 400px;
    border-radius: 50px;
    margin: 100px 75px;
    
}

.sideL .descTContainer{
    padding-left: 600px;
    padding-right: 50px;
    padding-top: 20px;
}

.descTContainer{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
}

.descTContainer h3{
    color: white;
    font-style: oblique;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    transition: 0.5s;
}

.descTContainer h3:hover, .sideL a:hover~.descTContainer h3{
    color: red;
}

.descTContainer a:hover{
    text-decoration: none;
}

.descTContainer P{
    font-size:30px;
}

.sideL img{
    position: absolute;
    padding: 10px;
    border-radius: 50px;
    z-index: 1;
}
.ref2, .ref4, .ref6, .ref8, .ref10, .ref12, .ref14, .ref16{
    z-index: 2;
    pointer-events:none;
}

.ref1{
    width: 500px;
    margin: 40px 50px;
}

.ref2{
    margin: 100px  450px;
    background-color: white;
}

.ref3{
    margin: 30px 50px;
}

.ref4{
    margin: 75px  425px;
    background-color: white;
}

.ref5{
    margin: 55px 50px;
}

.ref6{
    margin: 85px  275px;
}

.ref7{
    margin: 30px 50px;
}

.ref8{
    margin: 50px  270px;
}

.ref9{
    margin: 35px 50px;
}

.ref10{
    margin: 65px  385px;
}

.ref11{
    margin: 35px 50px;
}

.ref12{
    margin: 55px  385px;
}

.ref13{
    margin: 30px 50px;
}

.ref14{
    margin: 55px  330px;
}

.ref15{
    margin: 28px 50px;
}

.ref16{
    margin: 45px  300px;
}
/* Collaborators Page END */

/* Home Page */
.homeContainer {
    position: relative;
    width: 40%;
    display: inline-block;
    padding: 20px;
    margin: 50px 0px 50px 110px;
}

.homeImage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.homeTextCenter {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.homeContainer:hover .homeImage {
    opacity: 0.2;
}
  
.homeContainer:hover .homeTextCenter {
    opacity: 1;
}
  
.textCenter {
    background-color: lightblue;
    color: black;
    font-size: 28px;
    font-weight: bold;
    font-family: "Quicksand";
    padding: 16px 32px;
    border-radius: 20px;
    border-style: dashed;
    border-color: purple;
}

.homeContainerText{
    width: 80%;
    margin: 0 auto;
    padding: 25px;
}

.homeContainerText h2{
    text-align: center;
    padding: 40px 0px 0px;
}

.homeContainerText h1{
    text-align: center;
    font-size: 60px;
    font-style: oblique;
    font-weight: bold;
}
/* Home Page END */

/* BODY CONTENT END */

/* SECWWEEEET rooVV*/
.secwet{
    cursor: pointer;
    color:white;
}

.showSecwet {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0;
    transition: 10.0s;
}

/* SECWWEEEET rooVV END*/

/* FOOTER */

.footer {
    width: 100%;
    height: 150px;
    background: #00001a;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

.footer h1{
    background-color: #000033;
    color: #ececec;
    margin-top: -30px;
    padding: 5px 0px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-family: "Fjalla One";
}

.footer a {
    margin: 50px auto;
    margin-bottom: 0px;
    text-align: center;
    font-family: "Quicksand";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    color: ececec;
    display: block;
}

.lkbtn {
    transition: .7s;
}

a:hover {
    color: red;
}
/* FOOTER END */